@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url(Componentes/Botones.css);
@import url(Componentes/Variables.css);
@import url(Componentes/Lista.css);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

